<!DOCTYPE html>
<html>

<head>
    <title>Enter Details</title>

    <!-- links -->
    <link rel="stylesheet" href="public/css/faculty_styles.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="public/css/bootstrap.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body>
    <nav class="main-nav-items">
        <div>
            <a class="link-page" href="/"> Home </a>
        </div>
        <div>
            <a class="link-page" href="/about"> About </a>
        </div>
    </nav>
    <div class="title">
        <h1>Enter Details</h1>
    </div>
    <div class="container-class">
        <br>
        <br>
        <form method="POST" id="update">
            <div class="form-class">
                <input type="hidden" name="id" value="<%= user._id %>">
                <select class="form-control-class" id="dropdown1" name="c_name">
                    <option>
                        <%= user.c_name %>
                    </option>
                    <% for (var i=0; i < courses.length; i++) { %>
                        <option>
                            <%= courses[i].c_name %>
                        </option>
                        <% } %>
                </select>
            </div>
            <div class="form-class">
                <select class="form-control-class" id="dropdown2" name="t_name">
                    <option>
                        <%= user.t_name %>
                    </option>
                    <% for (var i=0; i < teachers.length; i++) { %>
                        <option>
                            <%= teachers[i].t_name %>
                        </option>
                        <% } %>
                </select>
            </div>
            <div class="form-class">
                <select class="form-control-class" id="dropdown3" name="room_no">
                    <option>
                        <%= user.room_no %>
                    </option>
                    <% for (var i=0; i < rooms.length; i++) { %>
                        <option>
                            <%= rooms[i].room_no %>
                        </option>
                        <% } %>
                </select>
            </div>
            <br>
            <br>
            <button type="submit" class="submit-button">Submit</button><br>
            <button class="submit-button">Delete</button>
        </form>
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script>
        $("#update").submit(function (event) {
            event.preventDefault()

            var unindexed_array = $(this).serializeArray()
            var data = {}

            $.map(unindexed_array, function (n, i) {
                data[n['name']] = n['value']
            })

            var request = {
                "url": `http://localhost:8080/api/cell/${data.id}`,
                "method": "PUT",
                "data": data
            }

            $.ajax(request).done(function (response) {
                window.location.href = "/faculty"
            })
        })
    </script>
</body>

</html>