<div class="timetable">
    <table>
        <tr>
            <th></th>
            <th>08:00 - 08:59</th>
            <th>09:00 - 09:59</th>
            <th>10:00 - 10:59</th>
            <th>11:00 - 11:59</th>
            <th>12:00 - 12:59</th>
            <th>13:00 - 13:59</th>
            <th>14:00 - 14:59</th>
            <th>15:00 - 15:59</th>
            <th>16:00 - 16:59</th>
            <th>17:00 - 17:59</th>
        </tr>
        <tr>
            <th>Monday</th>
            <td style="background-color: #ffffcc;">
                <a href="/update?id=<%= users[0]._id %>">
                    <%= users[0].c_name %><br><br>
                        <%= users[0].t_name %><br><br>
                            <%= users[0].room_no %>
                </a>
            </td>
            <td style="background-color: #e6ffe6;">
                <a href="/update?id=<%= users[1]._id %>">
                    <%= users[1].c_name %><br><br>
                        <%= users[1].t_name %><br><br>
                            <%= users[1].room_no %>
                </a>
            </td>
            <td style="background-color: #e6ffe6;">
                <a href="/update?id=<%= users[2]._id %>">
                    <%= users[2].c_name %><br><br>
                        <%= users[2].t_name %><br><br>
                            <%= users[2].room_no %>
                </a>
            </td>
            <td style="background-color: #ffe4e1;">
                <a href="/update?id=<%= users[3]._id %>">
                    <%= users[3].c_name %><br><br>
                        <%= users[3].t_name %><br><br>
                            <%= users[3].room_no %>
                </a>
            </td>
            <td class="lunch">L</td>
            <td style="background-color: #ffe6f2;">
                <a href="/update?id=<%= users[4]._id %>">
                    <%= users[4].c_name %><br><br>
                        <%= users[4].t_name %><br><br>
                            <%= users[4].room_no %>
                </a>
            </td>
            <td style="background-color: #ffe6f2;">
                <a href="/update?id=<%= users[5]._id %>">
                    <%= users[5].c_name %><br><br>
                        <%= users[5].t_name %><br><br>
                            <%= users[5].room_no %>
                </a>
            </td>
            <td style="background-color: #e6e6ff;">
                <a href="/update?id=<%= users[6]._id %>">
                    <%= users[6].c_name %><br><br>
                        <%= users[6].t_name %><br><br>
                            <%= users[6].room_no %>
                </a>
            </td>
            <td style="background-color: #ffe4e1;">
                <a href="/update?id=<%= users[7]._id %>">
                    <%= users[7].c_name %><br><br>
                        <%= users[7].t_name %><br><br>
                            <%= users[7].room_no %>
                </a>
            </td>
            <td style="background-color: #ffffcc;">
                <a href="/update?id=<%= users[8]._id %>">
                    <%= users[8].c_name %><br><br>
                        <%= users[8].t_name %><br><br>
                            <%= users[8].room_no %>
                </a>
            </td>
        </tr>
        <tr>
            <th>Tuesday</th>
            <td style="background-color: #ffffcc;">
                <a href="/update?id=<%= users[9]._id %>">
                    <%= users[9].c_name %><br><br>
                        <%= users[9].t_name %><br><br>
                            <%= users[9].room_no %>
                </a>
            </td>
            <td style="background-color: #e6ffe6;">
                <a href="/update?id=<%= users[10]._id %>">
                    <%= users[10].c_name %><br><br>
                        <%= users[10].t_name %><br><br>
                            <%= users[10].room_no %>
                </a>
            </td>
            <td style="background-color: #e6e6ff;">
                <a href="/update?id=<%= users[11]._id %>">
                    <%= users[11].c_name %><br><br>
                        <%= users[11].t_name %><br><br>
                            <%= users[11].room_no %>
                </a>
            </td>
            <td style="background-color: #ffe4e1;">
                <a href="/update?id=<%= users[12]._id %>">
                    <%= users[12].c_name %><br><br>
                        <%= users[12].t_name %><br><br>
                            <%= users[12].room_no %>
                </a>
            </td>
            <td class="lunch">U</td>
            <td style="background-color: #ffffcc;">
                <a href="/update?id=<%= users[13]._id %>">
                    <%= users[13].c_name %><br><br>
                        <%= users[13].t_name %><br><br>
                            <%= users[13].room_no %>
                </a>
            </td>
            <td style="background-color: #e6ffe6;">
                <a href="/update?id=<%= users[14]._id %>">
                    <%= users[14].c_name %><br><br>
                        <%= users[14].t_name %><br><br>
                            <%= users[14].room_no %>
                </a>
            </td>
            <td style="background-color: #e6e6ff;">
                <a href="/update?id=<%= users[15]._id %>">
                    <%= users[15].c_name %><br><br>
                        <%= users[15].t_name %><br><br>
                            <%= users[15].room_no %>
                </a>
            </td>
            <td style="background-color: #ffe6f2;">
                <a href="/update?id=<%= users[16]._id %>">
                    <%= users[16].c_name %><br><br>
                        <%= users[16].t_name %><br><br>
                            <%= users[16].room_no %>
                </a>
            </td>
            <td style="background-color: #ffe6f2;">
                <a href="/update?id=<%= users[17]._id %>">
                    <%= users[17].c_name %><br><br>
                        <%= users[17].t_name %><br><br>
                            <%= users[17].room_no %>
                </a>
            </td>
        </tr>
        <tr>
            <th>Wednesday</th>
            <td style="background-color: #ffffcc;">
                <a href="/update?id=<%= users[18]._id %>">
                    <%= users[18].c_name %><br><br>
                        <%= users[18].t_name %><br><br>
                            <%= users[18].room_no %>
                </a>
            </td>
            <td style="background-color: #e6ffe6;">
                <a href="/update?id=<%= users[19]._id %>">
                    <%= users[19].c_name %><br><br>
                        <%= users[19].t_name %><br><br>
                            <%= users[19].room_no %>
                </a>
            </td>
            <td style="background-color: #ffe6f2;">
                <a href="/update?id=<%= users[20]._id %>">
                    <%= users[20].c_name %><br><br>
                        <%= users[20].t_name %><br><br>
                            <%= users[20].room_no %>
                </a>
            </td>
            <td style="background-color: #ffe4e1;">
                <a href="/update?id=<%= users[21]._id %>">
                    <%= users[21].c_name %><br><br>
                        <%= users[21].t_name %><br><br>
                            <%= users[21].room_no %>
                </a>
            </td>
            <td class="lunch">N</td>
            <td style="background-color: #e6ffe6;">
                <a href="/update?id=<%= users[22]._id %>">
                    <%= users[22].c_name %><br><br>
                        <%= users[22].t_name %><br><br>
                            <%= users[22].room_no %>
                </a>
            </td>
            <td style="background-color: #ffffcc;">
                <a href="/update?id=<%= users[23]._id %>">
                    <%= users[23].c_name %><br><br>
                        <%= users[23].t_name %><br><br>
                            <%= users[23].room_no %>
                </a>
            </td>
            <td style="background-color: #ffe6f2;">
                <a href="/update?id=<%= users[24]._id %>">
                    <%= users[24].c_name %><br><br>
                        <%= users[24].t_name %><br><br>
                            <%= users[24].room_no %>
                </a>
            </td>
            <td style="background-color: #e6e6ff;">
                <a href="/update?id=<%= users[25]._id %>">
                    <%= users[25].c_name %><br><br>
                        <%= users[25].t_name %><br><br>
                            <%= users[25].room_no %>
                </a>
            </td>
            <td style="background-color: #e6e6ff;">
                <a href="/update?id=<%= users[26]._id %>">
                    <%= users[26].c_name %><br><br>
                        <%= users[26].t_name %><br><br>
                            <%= users[26].room_no %>
                </a>
            </td>
        </tr>
        <tr>
            <th>Thursday</th>
            <td style="background-color: #ffffcc;">
                <a href="/update?id=<%= users[27]._id %>">
                    <%= users[27].c_name %><br><br>
                        <%= users[27].t_name %><br><br>
                            <%= users[27].room_no %>
                </a>
            </td>
            <td style="background-color: #e6ffe6;">
                <a href="/update?id=<%= users[28]._id %>">
                    <%= users[28].c_name %><br><br>
                        <%= users[28].t_name %><br><br>
                            <%= users[28].room_no %>
                </a>
            </td>
            <td style="background-color: #ffe6f2;">
                <a href="/update?id=<%= users[29]._id %>">
                    <%= users[29].c_name %><br><br>
                        <%= users[29].t_name %><br><br>
                            <%= users[29].room_no %>
                </a>
            </td>
            <td style="background-color: #ffe4e1;">
                <a href="/update?id=<%= users[30]._id %>">
                    <%= users[30].c_name %><br><br>
                        <%= users[30].t_name %><br><br>
                            <%= users[30].room_no %>
                </a>
            </td>
            <td class="lunch">C</td>
            <td style="background-color: #e6ffe6;">
                <a href="/update?id=<%= users[31]._id %>">
                    <%= users[31].c_name %><br><br>
                        <%= users[31].t_name %><br><br>
                            <%= users[31].room_no %>
                </a>
            </td>
            <td style="background-color: #ffffcc;">
                <a href="/update?id=<%= users[32]._id %>">
                    <%= users[32].c_name %><br><br>
                        <%= users[32].t_name %><br><br>
                            <%= users[32].room_no %>
                </a>
            </td>
            <td style="background-color: #ffe6f2;">
                <a href="/update?id=<%= users[33]._id %>">
                    <%= users[33].c_name %><br><br>
                        <%= users[33].t_name %><br><br>
                            <%= users[33].room_no %>
                </a>
            </td>
            <td style="background-color: #e6e6ff;">
                <a href="/update?id=<%= users[34]._id %>">
                    <%= users[34].c_name %><br><br>
                        <%= users[34].t_name %><br><br>
                            <%= users[34].room_no %>
                </a>
            </td>
            <td style="background-color: #e6e6ff;">
                <a href="/update?id=<%= users[35]._id %>">
                    <%= users[35].c_name %><br><br>
                        <%= users[35].t_name %><br><br>
                            <%= users[35].room_no %>
                </a>
            </td>
        </tr>
        <tr>
            <th>Friday</th>
            <td style="background-color: #ffffcc;">
                <a href="/update?id=<%= users[36]._id %>">
                    <%= users[36].c_name %><br><br>
                        <%= users[36].t_name %><br><br>
                            <%= users[36].room_no %>
                </a>
            </td>
            <td style="background-color: #e6ffe6;">
                <a href="/update?id=<%= users[37]._id %>">
                    <%= users[37].c_name %><br><br>
                        <%= users[37].t_name %><br><br>
                            <%= users[37].room_no %>
                </a>
            </td>
            <td style="background-color: #ffe6f2;">
                <a href="/update?id=<%= users[38]._id %>">
                    <%= users[38].c_name %><br><br>
                        <%= users[38].t_name %><br><br>
                            <%= users[38].room_no %>
                </a>
            </td>
            <td style="background-color: #ffe4e1;">
                <a href="/update?id=<%= users[39]._id %>">
                    <%= users[39].c_name %><br><br>
                        <%= users[39].t_name %><br><br>
                            <%= users[39].room_no %>
                </a>
            </td>
            <td class="lunch">H</td>
            <td style="background-color: #e6ffe6;">
                <a href="/update?id=<%= users[40]._id %>">
                    <%= users[40].c_name %><br><br>
                        <%= users[40].t_name %><br><br>
                            <%= users[40].room_no %>
                </a>
            </td>
            <td style="background-color: #ffffcc;">
                <a href="/update?id=<%= users[41]._id %>">
                    <%= users[41].c_name %><br><br>
                        <%= users[41].t_name %><br><br>
                            <%= users[41].room_no %>
                </a>
            </td>
            <td style="background-color: #ffe6f2;">
                <a href="/update?id=<%= users[42]._id %>">
                    <%= users[42].c_name %><br><br>
                        <%= users[42].t_name %><br><br>
                            <%= users[42].room_no %>
                </a>
            </td>
            <td style="background-color: #e6e6ff;">
                <a href="/update?id=<%= users[43]._id %>">
                    <%= users[43].c_name %><br><br>
                        <%= users[43].t_name %><br><br>
                            <%= users[43].room_no %>
                </a>
            </td>
            <td style="background-color: #e6e6ff;">
                <a href="/update?id=<%= users[44]._id %>">
                    <%= users[44].c_name %><br><br>
                        <%= users[44].t_name %><br><br>
                            <%= users[44].room_no %>
                </a>
            </td>
        </tr>
    </table>
</div>